.App {
  text-align: center;
}
.position {
  position: fixed;
  bottom: 520px;
  right: 20px;
  font-size: x-large;
}
.position2 {
  position: fixed;
  bottom: 520px;
  right: 20px;
  font-size: x-large;
  background-color: red;
}
.setPosition {
  margin-top: 70px;
}
.mymessage {
  align-items: center;
  justify-items: center;
  padding: 1px;
  margin: auto;
}
.thanku {
  font-size: x-large;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card {
  background-color: white;
  width: 300px;
  height: 320px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  flex-direction: column;
  padding: 1%;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 200px;
}
.card2 {
  background-color: black;
  width: 80%;
  height: 26%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  flex-direction: column;
  padding: 1%;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  /* flex-wrap: wrap; */
}
.error {
  font-size: small;
  color: red;
}
.error2 {
  font-size: x-large;
  color: red;
}
.App-header2 {
  background-image: linear-gradient(
    109.6deg,
    rgba(238, 58, 136, 1) 11.2%,
    rgba(128, 162, 245, 1) 91.1%
  ) !important;
  min-height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: calc(10px + 2vmin) !important;
  width: 100% !important;
}

.App-header {
  background-color: rgb(50, 104, 168);
  background-image: url("./assets/contestimage.png");
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.timer {
  margin: 0 0 10px;
  background-color: red;
  border-radius: 0px 0px 16px 16px;
  margin-top: -5px;
  width: 20%;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  padding: 0px;
  color: #313131;
  font-size: 20px;
  position: fixed;
  top: 3px;
  left: 10px;
}

.myfont {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: bold;
}

#ip1 {
  border-radius: 1000px;
  background: white;
  padding: 15px;
  width: 150px;
  height: 1px;
  margin: 5px;
}

#ip3 {
  outline: none;
  width: 190px;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  background-color: black;
  border: 1px solid rgba(22, 76, 167, 0.6);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
#ip4 {
  outline: none;
  width: 120px;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  background-color: green;
  border: 1px solid rgba(22, 76, 167, 0.6);
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  transition: transform 0.2s;
  position: fixed;
  bottom: 3px;
  right: 10px;
}

#ip4:hover {
  transform: scale(1.1);
}

#ip5 {
  outline: none;
  width: 120px;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  background-color: red;
  border: 1px solid rgba(22, 76, 167, 0.6);
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
}
